{{> head }}
    {{> header }}
        {{{body}}}
<body id="accountbody">
<section id="accountheader">
    <h1>New Restaurant</h1>
</section>

<form action="/account/newFavorite" method="post" class="favoriteform">
    
    <h2>Selected restaurant:</h2>
    <section class="favformSelected">
        <img src="{{ cardRes.images.bg.src }}" alt="{{ cardRes.images.bg.alt }}">
        <h2 id="{{ cardRes.slug }}">{{ cardRes.name }}</h2>
    </section>

    <h2>My Reccomendations</h2>
    <section class="favformReccomend">
        <select name="reccomend1" id="reccomend1">
            <option value="">-- + --</option>
            {{#each menu}}
            <option class="{{ restaurant.slug }} option" value="{{ this._id }}">{{ this.item }}</option>
            {{/each}}
        </select>
        <select name="reccomend2" id="reccomend2">
            <option value="">-- + --</option>
            {{#each menu}}
            <option class="{{ restaurant.slug }} option" value="{{ this._id }}">{{ this.item }}</option>
            {{/each}}
        </select>
    </section>

    <section class="formbtn">
        <input type="submit" class="submitbtn" value="Save changes">
    </section>
</form>
<section class="formdelete">
        <form action="/account/deleteFavorite/{{ card._id }}" method="post">
            <input type="submit" class="deletebtn" value="Delete this card">
        </form>
</section>
</body>
{{!-- <script src="/public/js/edit.js"></script> --}}