<article class="restaurant-reviews">
    <section id="top" class="heading">
        <a href="/restaurants/{{ restaurant.slug }}">
            <img src="/public/images/icons/back.svg" alt="Go Back Icon">
        </a>
        <h2>Alle reviews</h2>
        <img class="save-restaurant {{ bool true 'saved' }}" 
            {{#if true }}
                src="/public/images/icons/heart-filled.svg"
            {{else }}
                src="/public/images/icons/heart-border.svg"
            {{/if }}
                data-saved="/public/images/icons/heart-filled.svg" 
                data-unsaved="/public/images/icons/heart-border.svg" 
                alt="Save Restaurant Icon"
            />
    </section>
    <section id="middle">
        <section class="snap">
            <img src="/public/images/restaurant.jpg" alt="">
            <img src="/public/images/restaurant.jpg" alt="">
            <img src="/public/images/restaurant.jpg" alt="">
            <img src="/public/images/restaurant.jpg" alt="">
        </section>
        <section>
            <div>
                <h1>{{ restaurant.name }}</h1>
                <a href="https://www.google.com/maps">
                    <img src="/public/images/icons/route.svg" alt="">
                </a>
            </div>
        </section>
        <ul>
            {{#each reviews}}
                <li>
                    <span>{{date created "DD-MM-YYYY"}}</span>
                    <section>
                        <div>
                            {{#if anon }}
                                <img src="/public/images/users.png" alt="Reviewer Image {{add @index 1 }}">
                                <p>Anonymous</p>
                            {{else }}
                                <img src="{{ user.img }}" alt="Reviewer Image {{add @index 1 }}">
                                <p>{{ user.name }}</p>
                            {{/if }}
                        </div>
                        <div>
                            <ul class="snap" style="width:{{stars rating 5 25}}px">
                                {{#times 5}}
                                    <li>
                                        <img src="/public/images/icons/star.svg" alt="">
                                    </li>
                                {{/times}}
                            </ul>
                            <p>
                                {{ remark }}
                            </p>
                        </div>
                    </section>
                    {{ user._id }}
                    {{ authUser.id }}
                    {{#compare user._id authUser.id}}
                        <a href="/restaurants/{{ ../../restaurant.slug }}/reviews/{{ ../_id}}/edit">
                            aanpassen
                        </a>
                    {{/compare}}
                </li>
            {{ else }}
            <p>Er zijn nog geen reviews... 👀. Wees de eerste!</p>
            {{/each}}

        </ul>
        <a href="rate">
            Geef {{ restaurant.name }} een rating
        </a>
    </section>
</article>